body {
    background-image: url("../img/chalkBoard.jpg");
    background-position: center top;
    background-repeat: repeat-y;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

a{
    color: white;
}
a:hover{
    color: white;
}
p{
    color: rgb(62, 183, 197);
}