main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    width: 100%;
    margin-top: 5em;
}

.form {
    width: 320px;
    padding: 40px;
    border-radius: 8px;
    background-color: #000000;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.form_div > label {
    color: white;
    font-size: 0.99em;
    font-weight: 700;
}

.info_div {
    text-align: center;
    margin-top: 10px;
}

.field {
    width: 100%;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    padding: 5px 0px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    background-color: #F2F9FD;
}

select {
    width: 100%;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    padding: 5px 0px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #4bd8ab;
    background-color: #F2F9FD;
}
.submit {
    border-style: none;
    border-radius: 5px;
    background-color: white;
    color: #4bd8ab;
    font-size: 0.99em;
    font-weight: 700;
    padding: 8px 20px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.8px;
    display: block;
    margin: auto;
    margin-top: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

