.header-body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111111;
    padding: 10px 20px;
}

.header img {
    height: 50px;
}

.header .button {
    text-decoration: none;
    color: #99DDCC;
    background-color: #FFFFFF;
    border: 2px solid #99DDCC;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    margin: 0 5px;
    transition: 0.3s;
}

.header .button:hover {
    color: #FFFFFF;
    background-color: #99DDCC;
}