.main-container {
    width: 80%;
    margin: 0 auto;
}

.classes-nav {
    background-color: #73d0b9;
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    position: relative;
}

.classes-nav h1 {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.course-card {
    background-color: #f8f8f8;
    padding: 1em;
    margin: 1em 0;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.course-card h2 {
    margin: 0 0 0.5em;
    font-size: 24px;
}

.course-card p {
    margin: 0;
    font-size: 18px;
}
.add-class-btn {
    font-size: 48px;
    text-decoration: none;
    /* background-color: #99ddcc; */
    font-weight: bold;
    /* border: 1px solid #ccc; */
    /* border-radius: 4px; */
    padding: 5px 10px;
    color: white;
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translateY(-50%);
}
.add-class-btn:hover {
    background-color: #bfeadf;
    color: black;
}
.class-card {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1em;
    margin-bottom: 1em;
  }
  .class-list {
    margin-top: 1em;
  }